@import "https://use.fontawesome.com/releases/v5.0.1/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --grey-color: #dadada;
  --lightgrey-color: #f2f2f2;
  --orange-color: #ffa000;
  --gold-color: #c87d00;
  --navyblue-color: #234465;
  --footer-bg-color: #162b40;
  --themes-bg-color: #dadada;
  --grey-color: #91a1b2;
  --darkgrey-color: #565656;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container--md {
  max-width: 1050px;
  margin: 0 auto;
}

.btn {
  color: white;
  background: var(--orange-color);
  border-radius: 18px;
  border: 2px solid transparent;
  padding: 3px 15px;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  display: inline-block;
}

.btn:hover {
  background-color: #ffffff;
  color: var(--orange-color);
  border: 2px solid var(--orange-color);
}

.btn--large {
  padding: 3px 55px;
  cursor: pointer;
  border-radius: 18px;
  background: var(--orange-color);
  text-transform: uppercase;
}

h3 {
  color: var(--navyblue-color);
}

h4 {
  color: var(--orange-color);
}

ul {
  list-style-type: none;
}

.header__inner {
  display: flex;
  background-color: var(--navyblue-color);
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
}

.header__head {
  display: flex;
  align-items: center;
}

.header__body {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 150px;
  padding-right: 10px;
}

.header__logo img {
  height: 100%;
  width: 100%;
}

.nav {
  position: relative;
  color: var(--grey-color);
}

.nav::after {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: -3px;
  right: 12px;
  font-size: 20px;
}

.nav ul {
  display: flex;
  padding-right: 40px;
}

.nav ul li {
  padding: 0 10px;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

.nav ul li:hover {
  color: var(--orange-color);
}

.breadcrumbs {
  padding: 10px 0;
  font-weight: 600;
}

.breadcrumbs ul {
  display: flex;
}

.breadcrumbs ul li {
  padding: 0 15px;
}

.breadcrumbs ul li:nth-child(1) {
  color: var(--gold-color);
}

.breadcrumbs ul li:nth-child(2) {
  color: var(--navyblue-color);
}

.section__inner {
  background: var(--lightgrey-color);
  margin: 15px 0;
  padding: 25px 55px;
}

.section__head,
.section__actions {
  text-align: center;
}

.section__title--underline {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.section__title--underline::after {
  border-bottom: 3px solid var(--orange-color);
  content: "";
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.section-intro {
  position: relative;
  color: white;
  padding: 30px;
  overflow: hidden;
}

.section-intro .section__inner {
  padding: 0;
  text-align: center;
  background: transparent;
}

.section-intro .section__head {
  font-size: 30px;
}

.section__background-image {
  background-image: url(../images/bf4d0933bf5b3b2b106ba995d25121ff.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  filter: blur(5px);
  transform: scale(1.1);
}

.begin-date::before {
  content: "\f144";
}

.end-date::before {
  content: "\f15c";
}

.period::before {
  content: "\f017";
}

.credits::before {
  content: "\f19d";
}

.term li::before {
  padding-right: 8px;
  font-weight: 900;
  font-size: 25px;
  font-family: "Font Awesome 5 free";
}

.term {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
}

.term li {
  padding: 0 18px;
}

.section-entry {
  position: relative;
  z-index: 1;
}

.section-entry::before {
  background-image: url(../images/wordpress.png),
    linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  content: "";
  position: absolute;
  z-index: -1;
  left: -105px;
  top: -87px;
  width: 420px;
  height: 400px;
  transform: rotate(20deg);
  opacity: 0.6;
}

.section-entry .section__entry {
  color: var(--navyblue-color);
}

.section-skills {
  z-index: 2;
  position: relative;
}

.section-skills .section__body {
  padding: 20px 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills li {
  flex: 0 0 50%;
  padding: 7px 0;
  color: var(--darkgrey-color);
}

.skills li::before {
  content: "\f19d";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  color: var(--orange-color);
  font-size: 20px;
}

.section-themes .section__body {
  counter-reset: section;
  padding: 25px 0;
}

.themes li::before {
  counter-increment: section;
  content: "" counter(section) "";
  font-size: 10px;
  color: var(--navyblue-color);
}

.themes li::before {
  font-size: 13px;
  padding-right: 10px;
}

.themes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.themes li {
  flex: 0 0 48%;
  margin: 5px;
  background: var(--themes-bg-color);
  font-size: 13px;
  font-weight: bold;
  color: var(--darkgrey-color);
  padding: 4px 0;
  border-left: 2px solid var(--navyblue-color);
  padding-left: 10px;
}

.section-appropriate {
  color: white;
}

.section-appropriate .section__inner {
  background: var(--orange-color);
}

.section-appropriate .section__title {
  color: white;
}

.section-appropriate .section__entry {
  padding-top: 20px;
}

.section__title--underline-white {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.section__title--underline-white::after {
  border-bottom: 3px solid white;
  content: "";
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.section-questions {
  color: var(--darkgrey-color);
}

.section-questions .section__inner {
  padding: 0;
  margin-bottom: 0;
}

.section-questions a {
  color: #337ab7;
  font-weight: 800;
}

.section-questions a:hover {
  text-decoration: underline #337ab7;
}

.article {
  padding: 12px 16px;
}

.article__head {
  padding: 10px;
}

.article__body {
  padding: 10px 260px 10px 0;
}

.education-types {
  color: white;
}

.education-types .section__inner {
  padding: 0 10px;
  margin: 0 auto;
}

.education-types h4 {
  color: white;
}

.education-types ul {
  list-style: disc;
}

.attendence {
  display: flex;
  justify-content: space-between;
  background: var(--navyblue-color);
}

.online {
  display: flex;
  justify-content: space-between;
  background: var(--orange-color);
}

.section-lecturer .section__info {
  display: flex;
  justify-content: space-between;
}

.section__media {
  width: 110px;
  height: 110px;
  margin: 40px;
}

.section__media img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.section-lecturer .section__body {
  color: var(--darkgrey-color);
  flex-basis: 80%;
  padding: 30px 0;
}

.section-lecturer .section__body .name {
  color: var(--navyblue-color);
  font-size: 18px;
  font-weight: 900;
}

.section-foot {
  text-align: center;
  padding-bottom: 40px;
}

.footer {
  background: var(--footer-bg-color);
  color: white;
}

.footer__body {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

.footer__nav {
  flex-basis: 70%;
}

.nav-footer ul {
  line-height: 1.7;
}

.nav-footer ul li:hover {
  text-decoration: underline;
}

.footer__nav-head {
  color: var(--orange-color);
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 15px;
}

.footer__aside {
  flex-basis: 30%;
}

.footer__cols {
  display: flex;
}

.footer__col--size-1 {
  flex-basis: 33.33%;
}

.socials ul {
  display: flex;
  margin: 0 -10px;
  padding-bottom: 20px;
}

.socials ul li {
  padding: 0 10px;
}

.copyright {
  color: var(--grey-color);
}