/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid transparent;

  &--block {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}

.btn--orange {
  background: $header-bg-color;
  color: $main-bg-color;
}

.btn--orange:hover {
  background: transparent;
  border: 1px solid $main-btn-bg-color;
  color: $main-btn-bg-color;
  transition: color 0.5s ease-in-out;
}
