/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Mixins
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */
@import url(c:\Users\Shishmanov\Desktop\CSS Toshko\Exam\03_FurnitureStore\myappsample\furniture-scss\src\assets\scss\_sprite.css);
* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
}

template {
  display: none;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

img,
iframe,
video,
audio,
object {
  max-width: 100%;
}

img,
iframe {
  border: 0 none;
}

img {
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

b,
strong {
  font-weight: bold;
}

address {
  font-style: normal;
}

svg:not(:root) {
  overflow: hidden;
}

a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] {
  cursor: pointer;
}

a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

textarea {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

button,
select {
  text-transform: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

nav ul,
nav ol {
  list-style: none outside none;
}

li {
  list-style: none;
}

.btn {
  padding: 10px;
  border-radius: 3px;
}

.btn--orange {
  background: #ec4503;
  color: #F0E4E4;
}

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */
body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */
/*  Clear  */
.clear {
  @util clearfix;
}

/*  Notext  */
.notext {
  @util text-hide;
}

/*  Hidden  */
[hidden],
.hidden {
  display: none !important;
}

/*  Alignleft  */
.alignleft {
  float: left;
}

/*  Alignright  */
.alignright {
  float: right;
}

/*  Disabled  */
[disabled],
.disabled {
  cursor: default;
}

/*  Grid  */
.col {
  max-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.col--1of2 {
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

/*  Responsive Helpers  */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs-block {
    display: block !important;
  }
  .visible-xs-inline {
    display: inline !important;
  }
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hidden-sm {
    display: none !important;
  }
  .visible-sm-block {
    display: block !important;
  }
  .visible-sm-inline {
    display: inline !important;
  }
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .hidden-md {
    display: none !important;
  }
  .visible-md-block {
    display: block !important;
  }
  .visible-md-inline {
    display: inline !important;
  }
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1201px) {
  .hidden-lg {
    display: none !important;
  }
  .visible-lg-block {
    display: block !important;
  }
  .visible-lg-inline {
    display: inline !important;
  }
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */
.shell {
  max-width: 1220px;
  padding-right: 10px;
  padding-left: 10px;
  margin: auto;
}

.shell--fluid {
  max-width: none;
}

/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */
.header {
  background: #ec4503;
  color: #fff;
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header li {
  padding: 0 10px;
}

.header .nav-header li:hover {
  text-decoration: underline;
}

.header .header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__search .search {
  width: 320px;
  outline: none;
  border: none;
  height: 24px;
  display: block;
}

.header .header__search .btn {
  background: #B6AFAF;
  padding: 3px 15px;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
}

.header .header__user i {
  padding-right: 10px;
}

/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */
.main {
  background: #F0E4E4;
  color: #908383;
}

.main .section-gallery__body {
  padding: 25px 40px;
}

.main .section-gallery__body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 -20px;
}

.main .section-gallery__body li {
  padding: 0 15px;
}

.main .section-gallery__body .article__title {
  padding-top: 10px;
}

.main .section-gallery__body img {
  height: 240px;
}

.main .section-gallery__body h3 {
  font-weight: normal;
}

.main .section-new-collection {
  padding: 25px 140px;
}

.main .section-new-collection .section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .section-new-collection .section__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.main .section-new-collection .section__title {
  color: #ec4503;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.main .section-new-collection .section__title h1 {
  font-weight: normal;
}

.main .section-new-collection .section__content {
  padding-bottom: 20px;
}

.main .section-new-collection .section__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.main .section-new-collection .section__media img {
  height: 350px;
  width: 100%;
}

.main .section-advantages .section__inner {
  background: #CAC3C3;
  margin: 0 36px;
  padding: 30px 0;
}

.main .section-advantages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .section-advantages ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  text-align: center;
}

.main .section-advantages .article__head {
  border-radius: 50%;
  background: white;
  padding: 15px;
  width: 30%;
  margin: 0 auto;
}

.main .section-advantages .article__body h2 {
  font-size: 15px;
  padding-top: 10px;
}

.main .section-advantages .article__foot {
  padding-top: 10px;
}

/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */
.footer {
  background: #F0E4E4;
}

.footer .footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
  color: #908383;
}

.footer .footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -8px;
}

.footer .footer__nav li {
  padding: 0 8px;
}

.footer .footer__contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -8px;
}

.footer .footer__contacts ul li {
  padding: 0 8px;
}

.footer .footer__contacts .btn--footer {
  background: #B6AFAF;
  padding: 6px 40px;
}

.footer .footer__contacts .socials {
  font-size: 20px;
}

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */
.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.btn--block {
  display: block;
  padding-left: 0;
  padding-right: 0;
}

/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */
input::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}
input::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}
input::placeholder {
  color: inherit;
  opacity: 1;
}

textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

textarea::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

textarea::placeholder {
  color: inherit;
  opacity: 1;
}

input:-webkit-autofill {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */
[class^="list-"] {
  list-style: none outside none;
}

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Widgets
\* ------------------------------------------------------------ */
.widgets {
  list-style: none outside none;
}

/* ------------------------------------------------------------ *\
	Widget
\* ------------------------------------------------------------ */
/*# sourceMappingURL=style.css.map */