<!-- Your header goes here -->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__menu">
                <nav class="nav-header">
                    <ul>
                        <li>
                            <a href="#">Furniture</a>
                        </li>

                        <li>
                            <a href="#">Outdoor</a>
                        </li>

                        <li>
                            <a href="#">Storage</a>
                        </li>

                        <li>
                            <a href="#">Lighting</a>
                        </li>

                        <li>
                            <a href="#">Appliances</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="header__search">
                <input class="search" type="text" placeholder="Search anything...">
                <a href="#" class="btn">
                    <i class="fas fa-search"></i>
                </a>
            </div>

            <div class="header__user">
                <i class="fas fa-user"></i>
                <a href="#">My Account</a>
            </div>
        </div>
    </div>
</header>